.env
.venv
node_modules
/data
/Docker/monitor/data/prometheus
/Docker/postgres_data
/Docker/mosquitto/data/mosquitto.db
/Docker/monitor/data/grafana/grafana.db
/Docker/scraper_service/data/
/Docker/nginx
/Docker/docker-compose-nginx.yaml
/scraper_service/processor
/scraper_service/scraper
/scraper_service/models
/scraper_service/data/*
/publish_service
/publish_service/data/*
/poc
/postgres_db/poc
__pycache__/
*.pyc
/uml
.vscode/